$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #727785;
$secondary_paletteKeyColor: #757780;
$tertiary_paletteKeyColor: #70778B;
$neutral_paletteKeyColor: #787778;
$neutral_variant_paletteKeyColor: #787778;
$background: #131315;
$onBackground: #E4E2E3;
$surface: #131315;
$surfaceDim: #131315;
$surfaceBright: #39393A;
$surfaceContainerLowest: #0E0E0F;
$surfaceContainerLow: #1B1B1D;
$surfaceContainer: #1F1F21;
$surfaceContainerHigh: #2A2A2B;
$surfaceContainerHighest: #353436;
$onSurface: #E4E2E3;
$surfaceVariant: #474648;
$onSurfaceVariant: #C8C6C7;
$inverseSurface: #E4E2E3;
$inverseOnSurface: #303032;
$outline: #929092;
$outlineVariant: #474648;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #C2C6D6;
$primary: #C2C6D6;
$onPrimary: #2C303C;
$primaryContainer: #424754;
$onPrimaryContainer: #DEE2F2;
$inversePrimary: #5A5E6C;
$secondary: #C5C6D0;
$onSecondary: #2E3038;
$secondaryContainer: #44474F;
$onSecondaryContainer: #E1E2EC;
$tertiary: #BFC6DC;
$onTertiary: #293041;
$tertiaryContainer: #8990A5;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #DEE2F2;
$primaryFixedDim: #C2C6D6;
$onPrimaryFixed: #171B27;
$onPrimaryFixedVariant: #424754;
$secondaryFixed: #E1E2EC;
$secondaryFixedDim: #C5C6D0;
$onSecondaryFixed: #191B23;
$onSecondaryFixedVariant: #44474F;
$tertiaryFixed: #DBE2F9;
$tertiaryFixedDim: #BFC6DC;
$onTertiaryFixed: #141B2C;
$onTertiaryFixedVariant: #3F4759;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #1A1A1D;
$term1: #8B81FF;
$term2: #64DCF0;
$term3: #FFDCF3;
$term4: #8CADD4;
$term5: #9FA4EF;
$term6: #96CFFC;
$term7: #E8D3DE;
$term8: #C3B5C0;
$term9: #BFB9FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #C9DEF6;
$term13: #D7D6FF;
$term14: #F8FAFF;
$term15: #E0E3E8;
