$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #747685;
$secondary_paletteKeyColor: #767680;
$tertiary_paletteKeyColor: #72768B;
$neutral_paletteKeyColor: #787678;
$neutral_variant_paletteKeyColor: #787678;
$background: #131315;
$onBackground: #E5E2E3;
$surface: #131315;
$surfaceDim: #131315;
$surfaceBright: #3A393A;
$surfaceContainerLowest: #0E0E0F;
$surfaceContainerLow: #1C1B1D;
$surfaceContainer: #201F21;
$surfaceContainerHigh: #2A2A2B;
$surfaceContainerHighest: #353436;
$onSurface: #E5E2E3;
$surfaceVariant: #474648;
$onSurfaceVariant: #C8C6C7;
$inverseSurface: #E5E2E3;
$inverseOnSurface: #313032;
$outline: #929092;
$outlineVariant: #474648;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #C4C5D6;
$primary: #C4C5D6;
$onPrimary: #2D303D;
$primaryContainer: #444654;
$onPrimaryContainer: #E0E1F3;
$inversePrimary: #5B5E6C;
$secondary: #C6C5D0;
$onSecondary: #2F3038;
$secondaryContainer: #45464F;
$onSecondaryContainer: #E2E1EC;
$tertiary: #C2C5DD;
$onTertiary: #2C2F42;
$tertiaryContainer: #8C8FA6;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E0E1F3;
$primaryFixedDim: #C4C5D6;
$onPrimaryFixed: #181B27;
$onPrimaryFixedVariant: #444654;
$secondaryFixed: #E2E1EC;
$secondaryFixedDim: #C6C5D0;
$onSecondaryFixed: #1A1B23;
$onSecondaryFixedVariant: #45464F;
$tertiaryFixed: #DEE1F9;
$tertiaryFixedDim: #C2C5DD;
$onTertiaryFixed: #171B2C;
$onTertiaryFixedVariant: #424659;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #1B1A1C;
$term1: #9B7BFF;
$term2: #64DCF0;
$term3: #FFDCF3;
$term4: #92ABD6;
$term5: #AAA1ED;
$term6: #9DCEFF;
$term7: #E8D3DE;
$term8: #C3B5C0;
$term9: #C8B5FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #CCDDF7;
$term13: #DDD5FF;
$term14: #F8FAFF;
$term15: #E3E2E7;
