$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #757685;
$secondary_paletteKeyColor: #767680;
$tertiary_paletteKeyColor: #73768B;
$neutral_paletteKeyColor: #787678;
$neutral_variant_paletteKeyColor: #787678;
$background: #131315;
$onBackground: #E5E1E3;
$surface: #131315;
$surfaceDim: #131315;
$surfaceBright: #3A393A;
$surfaceContainerLowest: #0E0E0F;
$surfaceContainerLow: #1C1B1D;
$surfaceContainer: #201F21;
$surfaceContainerHigh: #2A2A2B;
$surfaceContainerHighest: #353436;
$onSurface: #E5E1E3;
$surfaceVariant: #474648;
$onSurfaceVariant: #C9C6C7;
$inverseSurface: #E5E1E3;
$inverseOnSurface: #313032;
$outline: #929092;
$outlineVariant: #474648;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #C5C5D6;
$primary: #C5C5D6;
$onPrimary: #2E303D;
$primaryContainer: #444654;
$onPrimaryContainer: #E1E1F3;
$inversePrimary: #5C5D6C;
$secondary: #C6C5D0;
$onSecondary: #2F3038;
$secondaryContainer: #46464F;
$onSecondaryContainer: #E3E1EC;
$tertiary: #C3C5DD;
$onTertiary: #2C2F42;
$tertiaryContainer: #8D8FA6;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E1E1F3;
$primaryFixedDim: #C5C5D6;
$onPrimaryFixed: #191B27;
$onPrimaryFixedVariant: #444654;
$secondaryFixed: #E3E1EC;
$secondaryFixedDim: #C6C5D0;
$onSecondaryFixed: #1A1B23;
$onSecondaryFixedVariant: #46464F;
$tertiaryFixed: #DFE1F9;
$tertiaryFixedDim: #C3C5DD;
$onTertiaryFixed: #171A2C;
$onTertiaryFixedVariant: #434659;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #1B1A1C;
$term1: #A078FF;
$term2: #64DCF0;
$term3: #FFDCF3;
$term4: #94ABD7;
$term5: #ADA1ED;
$term6: #9DCEFF;
$term7: #E8D3DE;
$term8: #C3B5C0;
$term9: #CBB5FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #CDDDF8;
$term13: #DED4FF;
$term14: #F8FAFF;
$term15: #E5E0E9;
